select {
  border-bottom: 1px solid rgb(110, 110, 110);
}

input {
  height: 70px;
  max-width: 190px;
  font-size: 76px;
  font-weight: 100;
  margin-top: 20px;
}
input:focus {
  outline: none;
}

select {
  width: 200px;
}

@media screen and (max-width: 480px) {
  input {
    max-width: 150px;
    font-size: 55px;
    font-weight: 100;
  }
}
